body {
    font-family: 'Brewery', sans-serif;

    @include responsive-clamp(font-size, 35px, 70px);
    @include responsive-clamp(line-height, 45px, 70px);
    color: #ffffff;
    background-color: black;
    font-weight: 400;
    letter-spacing: 0;
}

.font-manrope {
    font-family: 'Manrope', sans-serif;
}

.section-title {
    @include responsive-clamp(font-size, 35px, 70px);
    @include responsive-clamp(line-height, 45px, 70px);
}

.page-title {
    @include responsive-clamp(font-size, 45px, 140px);
    @include responsive-clamp(line-height, 55px, 140px);
    text-align: center;
}

.circle {
    padding: 12px;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

.user {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-bottom: 40px;
    // .user__avatar
    &__avatar {
        img {
            border-radius: 50%;
        }
    }

    // .user__name

    &__name {
        color: rgb(255, 255, 255);
        font-family: 'Manrope', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.04em;
        text-align: left;
        text-transform: uppercase;
    }
}



.label-link {
    display: flex;
    align-items: center;
    // .label-link__plus

    &__plus {
        position: relative;
        display: flex;

        width: 60px;
        height: 60px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        border: 1px solid #ffffff33;

        img {
            position: absolute;
            display: block;
            width: 24px;
            height: 24px;
            transition: transform 0.3s ease; /* Добавьте плавный переход для hover */

            &:hover {
                transform: scale(1.4) rotate(45deg);
            }
        }
    }
    // .label-link__text

    &__text {
        font-family: 'Manrope', sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        transition: font-size ease-in 0.3s;
        letter-spacing: 0.04em;
        line-height: 28px;
    }
}

.swiper-wrapper {
    height: auto;
}
.swiper-control {
    gap: 20px;
    position: absolute;
    bottom: 41px;

    background-color: black;
    z-index: 1;
    padding: 8px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 70px;
    display: flex;
    justify-content: space-between;
}

.swiper-button-prev__arrow,
.swiper-button-next__arrow {
    position: relative;
    align-items: center;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff33;
    span {
    }

    img {
        position: absolute;
        display: block;
        width: 12px;
        height: 12px;
    }
}

.swiper-button-next-for-designers,
.swiper-button-prev-for-designers {
    border-radius: 50%;
    &__arrow {
        width: 45px;
        height: 45px;
    }

    span {
        border-radius: 50%;
        margin-right: 0;

        img {
            width: 12px;
            height: 12px;
            &:hover {
                transform: scale(1) rotate(0);
            }
        }
    }
}

.swiper-pagination-fabrik {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1;
    gap: 5px;
}

.title-label-block {
    &__row {
        display: grid;
        gap: 20px; // Добавляем отступы между колонками
        grid-template-columns: repeat(2, 1fr); /* Две колонки равной ширины */
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
    }

    // .advantages__item
    &__item {
        overflow: hidden;

        &--title {
        }

        &--list {
            grid-column: 2; // Во втором столбце на больших экранах
            grid-row: 1 / span 2; // Занимает две строки на больших экранах
        }

        &--label-link {
            align-self: self-end;
            @media (max-width: 768px) {
                align-self: self-start;
            }
        }
    }

    // .advantages__title
    &__title {
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
}
