<div class='advantages__container'>
    <div class='advantages__row'>
        <div class='advantages__item advantages__item_images'>
            <h2 class='advantages__title section-title'>Преимущества работать с нами</h2>
            <h4 class="advantages__subtitle">Мы делаем всё, чтобы сэкономить ваше время и деньги</h4>
            <div class='advantages__images'>
    <div class='advantages__image-container-1'><img
            class='image-1'
            src='/images/for-designers/1.jpg'
            alt='Примеры работ'
        /></div>
    <div class='advantages__image-container-2'><img
            class='image-2'
            src='/images/for-designers/2.jpg'
            alt='Примеры работ'
        /></div>
    <div class='advantages__image-container-3'><img
            class='image-3'
            src='/images/for-designers/3.jpg'
            alt='Примеры работ'
        /></div>
</div>
        </div>
        <div class='advantages__item'>

            <ul class='advantages__list list-advantages'>
                <li class='list-advantages__item'><span>01</span>
                    <h4>грамотный подход</h4>
                    <p class='gray-text-20'>Предложим материалы и фурнитуру, максимально подходящие к вашему проекту, чтобы сохранить его уникальность и бюджет. Изготовим и установим в срок, подстроимся под вас. Работа построена на человеческих отношениях, потому что мы любим то, что мы делаем!</p></li>
                <li class='list-advantages__item'><span>02</span>
                    <h4>бережное отношение</h4>
                    <p class='gray-text-20'>Бережно относимся и к нашей мебели, и к помещению заказчика: ваши полы, стены, двери, подоконники и все, что внутри, останутся в целости. Мусора после нас не будет.</p>
                </li>
                <li class='list-advantages__item'><span>03</span>
                    <h4>всегда на связи</h4>
                    <p class='gray-text-20'>Ваш персональный дизайнер мебели всегда будет на связи, даже в выходные. Вам не придется в одиночку решать сложные вопросы.</p>
                </li>
                <li class='list-advantages__item'><span>03</span>
                    <h4>ответственность</h4>
                    <p class='gray-text-20'>Всегда и на любом этапе работ признаём свои ошибки. Если что-то пошло не так, то переделаем в максимально сжатые сроки и за свой счет. </p>
                </li>
                <li class='list-advantages__item'><span>03</span>
                    <h4>идеальный результат</h4>
                    <p class='gray-text-20'>Останавливаемся лишь тогда, когда заказчик говорит: спасибо, все замечательно, мы очень довольны.</p>
                </li>


            </ul>
        </div>
        <div
            class='advantages__item advantages__item_link'
        >
            <button type="button" class='advantages__link label-link'>

                <span class='label-link__text'>Заказать мебель</span>
            </abutton>
        </div>
    </div>

</div>