<div class='main-block__container'>
    <h4 class='main-block__subtitle font-manrope'>предложение сотрудничества</h4>
    <h1 class='main-block__title page-title'>Дизайнерам и архитекторам</h1>
    <a
        href='#for-designers-advantages'
        class='main-block__arrow scroll-link'
        data-target='#for-designers-advantages'
        aria-label='Прокрутка вниз'
    >
        <img src='icons/main-block__arrow.svg' alt='Иконка стрелки для прокрутки вниз' />
    </a>

</div>