<div class='stages__container'>
    <h2 class='stages__title section-title'>Этапы работ</h2>
    <div class='stages__columns'>

        <article class='stages__column column-1 card'>
            <h3 class='column__title'>Профессиональная консультация</h3>
            <p class='column__text'>Профессиональный дизайнер мебели точно выявит потребности,
                предложит варианты материалов, фурнитуры и конструктива исключительно под вас и
                вашего заказчика, который не останется равнодушным, увидев наш ассортимент.</p>
            <img src='icons/for-designers/1.svg' alt='Иконка' />
        </article>
        <article class='stages__column column-2 card'>
            <h3 class='column__title'>Коммерческое предложение</h3>
            <p class='column__text'>Составим дизайн-проект и сделаем предварительный расчет с учетом
                комплектации в разных ценовых категориях. Вам будет из чего выбрать.</p>
            <img src='icons/for-designers/2.svg' alt='Иконка' />

        </article>
        <article class='stages__column column-3 card'>
            <h3 class='column__title'>Выезд на объект для замеров</h3>
            <p class='column__text'>Делаем замеры, по запросу привезем образцы материалов, при
                необходимости сделаем выкрасы. Корректируем чертежи, расчеты и подписываем договор.
                Затем отправляем техническое задание на производство.</p>
            <img src='icons/for-designers/3.svg' alt='Иконка' />
        </article>
        <article class='stages__column column-4 card'>
            <h3 class='column__title'>Изготовление мебели</h3>
            <p class='column__text'>Мы контролируем все этапы производства мебели и сроки, а вы в
                это время можете заняться другими проектами или просто отдохнуть. Когда все будет
                готово, заблаговременно свяжемся с вами для согласования даты доставки и сборки.</p>
            <img src='icons/for-designers/4.svg' alt='Иконка' />
        </article>
        <article class='stages__column column-5 card'>
            <h3 class='column__title'>Доставка и установка</h3>
            <p class='column__text'>Мы не пользуемся услугами сторонних организаций. Доставка и
                монтаж мебели осуществляется профессионалами от FАБRИК. Нам важно, чтобы вы остались
                довольны результатом нашей работы.</p>
            <img src='icons/for-designers/5.svg' alt='Иконка' />
        </article>
        <div class='stages__column column-image-1'>
            <img src='images/for-designers-page/grid-page-1.jpg' alt='' />
        </div>
        <div class='stages__column column-image-2'>
            <img src='images/for-designers-page/grid-page-2.jpg' alt='' />
        </div>
				<div
            class='column-label about-project__item title-label-block__item title-label-block__item--label-link'
        >
            <button type="button" class='about-project__link label-link'>

                <span class='label-link__text'>Заказать мебель</span>
            </abutton>
        </div>
    </div>

</div>