.about-project {
    @include responsive-clamp(margin-bottom, 60px, 133px);
    &__title {
        @include responsive-clamp(margin-bottom, 40px, 80px);
    }
    &__subtitle {
        @include responsive-clamp(margin-bottom, 20px, 40px);
    }
    // .about-project__container
    &__container {
        // Пустой блок, если не используется
    }

    // .about-project__row

    // .about-project__request
    &__request {
        // Пустой блок, если не используется
    }

    // .about-project__list
    &__list {
        // Пустой блок, если не используется
    }

    &__link {
        background-color: white;
        color: black;
        padding: 18px 32px;
        border-radius: 60px;
    }
}

.list-about-project {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 767px) {
        margin-bottom: 40px;
    }
    // .about-project__item
    &__item {
        display: grid;
        text-transform: uppercase;
        font-size: clamp(14px, 1.1vw, 20px);
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;

        h4 {
            grid-column: 2; /* Вторая колонка */
            grid-row: 1; /* Первая строка */
        }
        p {
            @include responsive-clamp(font-size, 14px, 16px);
            @include responsive-clamp(line-height, 24px, 28px);

            grid-column: 2; /* Вторая колонка */
            grid-row: 2; /* Вторая строка */
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.1);
            position: relative;
            font-size: 12px;
            font-weight: 700;

            font-family: 'Manrope', sans-serif;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 20px;
            grid-row: 1/3;
            grid-column: 1;
        }
    }
}
.list-about-project__item:not(:has(p)) {
    display: flex;
}
