
    <div class='advantages__row'>
        <div class='advantages__item'>
            <div class='advantages__image'>
                <img src='/images/about-page/1.jpg' alt='Фото с производства' />

                <img
                    class='litle'
                    src='/images/about-page/1-little.jpg'
                    alt='Фото с производства'
                />
            </div>
        </div>
        <div class='advantages__item'>
            <h2 class='advantages__title section-title'>Собственное производство полного
                цикла</h2>
            <p class='advantages__text font-manrope'>с 2017 года проектируем и производим мебель в
                премиум сегменте по авторским дизайн-проектам. Мы создаем мебель, которая не теряет
                актуальность со временем. А собственное производство вместе с итальянским
                оборудованием дает нам возможность держать качество на высоком уровне</p>
        </div>
    </div>
    <section class="statistics">
			{{>about-page/statistics}}
		</section>
     <div class='advantages__row advantages__row--reverse'>
        <div class='advantages__item'>
            <div class='advantages__image'>
                <img src='/images/about-page/1.jpg' alt='Фото с производства' />
                <img
                    class='litle'
                    src='/images/about-page/1-little.jpg'
                    alt='Фото с производства'
                />
            </div>
        </div>
        <div class='advantages__item'>
            <h2 class='advantages__title section-title'>Собственное производство полного
                цикла</h2>
            <p class='advantages__text font-manrope'>Мы выбираем только самых надежных поставщиков среди производителей, таких как Egger, Kronospan, CLEAF, Swiss Krono, Niemann, SM’art, SKIN, Alvic, BLUM, Hettich, CAMAR, BRASS и многие другие. Коллекции материалов от fabrик станут неотъемлемой частью ваших проектов. </p>
        </div>
    </div>
     <div class='advantages__row advantages__row'>
        <div class='advantages__item'>
            <div class='advantages__image'>
                <img src='/images/about-page/3.jpg' alt='Фото с производства' />
                <img
                    class='litle'
                    src='/images/about-page/3-little.jpg'
                    alt='Фото с производства'
                />
            </div>
        </div>
        <div class='advantages__item'>
            <h2 class='advantages__title section-title'>Собственное производство полного
                цикла</h2>
            <p class='advantages__text font-manrope'>это незаурядные технические решения проектирования мебели, использование разнообразных премиальных материалов, изготовление деталей, в том числе фрезерованных фасадов по индивидуальным параметрам. Доставка и монтаж мебели осуществляется профессионалами от FАБRИК.</p>
        </div>
    </div>

