<div class='about-page-main-block__container'>
    <h4 class='about-page-main-block__subtitle'>fabrиk</h4>
    <h1 class='about-page-main-block__title'>Мы создаем мебель для вашего комфорта и уюта</h1>

</div>