

<div class='statistics__row'>
    <div class='statistics__item'>
        <h5 class='statistics__title'>800 м<sup>2</sup></h5>
        <p class='statistics__text font-manrope'>Мы находимся в Московской области, г. Котельники.</p>
    </div>
    <div class='statistics__item'>
        <h5 class='statistics__title'>40+</h5>
        <p class='statistics__text font-manrope'>Креативные дизайнеры,
            <span>профессиональные</span>
            конструкторы и инженеры, опытные монтажники</p></div>
    <div class='statistics__item'>
        <h5 class='statistics__title'>100%</h5>
        <p class='statistics__text font-manrope'>Мы даем
            100%-ную гарантию взятых на себя обязательств</p></div>
    <div class='statistics__item'>
        <h5 class='statistics__title'>6 лет</h5>
        <p class='statistics__text font-manrope'>Гарантии на готовую мебель нашего производства</p></div>
</div>