.feedback-and-guarantees-page {
    .main-block {
        // .feedback-and-guarantees-main-block-main-block__container
        @include responsive-clamp(margin-bottom, 87px, 140px);

        background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 24.63%),
            linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgb(0, 0, 0) 100%),
            image-set(
                url('images/feedback-and-guarantees/bg-main.jpg') 1x,
                url('images/feedback-and-guarantees/bg-main@2x.jpg') 2x,
                url('images/feedback-and-guarantees/bg-main@3x.jpg') 3x
            ),
            rgb(0, 0, 0);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &__container {
            position: relative;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
        }

        // .feedback-and-guarantees-main-block__title

        &__title {
            @include responsive-clamp(margin-bottom, 23px, 40px);
        }

        // .feedback-and-guarantees-main-block__arrow

        &__arrow {
        }
    }
}
