<div class='about'>
    <h2 class='about-title'>3D-проект от компании «FAБRИК» в подарок.</h2>
    <div class='about__grid'>
        <div class='about__item about__item--1 font-manrope'>В любом проекте неотъемлемой частью является эстетичность и
            не нарушенная концепция. Что в совокупности влияет и на общий результат – ваши ожидания и на ликвидность –
            не устаревание интерьера выполненного проекта.</div>
        <div class='about__item about__item--2'>
            <img
                src='/src/assets/images/3d-project/1.jpg'
                srcset='/src/assets/images/3d-project/1@2x.jpg 2x'
                srcset='/src/assets/images/3d-project/1@2x.jpg 3x'
                alt='Примеры работ'
            />
        </div>
        <div class='about__item about__item--3'>
            <img
                src='/src/assets/images/3d-project/2.jpg'
                srcset='/src/assets/images/3d-project/2@2x.jpg 2x'
                srcset='/src/assets/images/3d-project/2@2x.jpg 3x'
                alt='Примеры работ'
            />
        </div>
        <div class='about__item about__item--4 font-manrope'>И понимая глубину и важность первого этапа – мы готовы
            показать свою компетенцию и сделать первый шаг соприкосновения с нами для Вас максимально простым и легким.
            Поэтому обратившись к нам Вы получите 3D-проект от нашего дизайнера совершенно бесплатно.</div>
    </div>
</div>