<div class='form__container'>

    <h2 class='form__title section-title'>Закажите бесплатный 3D-проект
    </h2>

    <form class='choose-form'>

        <div class='form__title-container'>
            <h3 class='choose-form__title'>Какую мебель необходимо изготовить?</h3>

        </div>
        <div class='choose-form__grid'>

            <div class='choose-form__item'>
                <input type='text' placeholder='имя' id='name' name='contact-form' />
                <label for='name'></label>
            </div>
            <div class='choose-form__item'>
                <input type='text' placeholder='телефон' id='phone' name='contact-form' />
                <label for='phone'></label>
            </div>
            <button type='button' class='form-next'>Далее</button>
        </div>

    </form>
</div>