
    <div class='about__row title-label-block__row'>
        <div class='about__item title-label-block__item--title'>
            <h2 class='about__title'>О проекте</h2>
        </div>
        <div class='about__item title-label-block__item--list'>
            <h3 class='about__title '>Гостиная — 30 м² в центре Москвы.
                Уникальный проект от дизайнера Василия Комнатушкина</h3>
            <h3 class='about__text font-manrope'>К нам обратился Василий с просьбой
                изготовить мебель по его проекту. За 5 дней определились с материалами и размерами.
                Посчитали и согласовали смету. Весь проект занял 21 день. Стоимость проекта 400 000
                ₽.</h3>
            <h4 class='about__subtitle font-manrope'>Характеристики проекта</h4>
            <ul class='about__list list-about'>
                <li class='list-about__item'><span class="font-manrope">01</span>
                    <h4>фасады</h4>
                    <p class='font-manrope'>Пример: изготовили высокую кухню с островом. Кухня до
                        потолка и не имеет зазоров. Использовано 2 вида фасадов: натуральное дерево
                        цвета венге и чистый светлый бетон. Ручки скрытого монтажа. В центре остров
                        1х2 метра с мраморной столешницей. Так же есть отдельная, рабочая зона и
                        высокий шкаф для хранения красивой посуды.</p></li>
                <li class='list-about__item'><span class="font-manrope">02</span>
                    <h4>корпуса</h4>
                </li>
                <li class='list-about__item'><span class="font-manrope">03</span>
                    <h4>фурнитура</h4>
                </li>

            </ul>
        </div>
        <div
            class='about__item title-label-block__item title-label-block__item--label-link'
        >
            <button type="button" class='about__link label-link'>

                <span class='label-link__text'>Заказать мебель</span>
            </abutton>
        </div>
    </div>

