<div class='main-block__content'>
    <div class='main-block__text-left-container'>
        <p class='main-block__text'>21 <span>день</span></p>
        <p class='main-block__subtitle gray-text'>срок реализации</p>
    </div>
    <h1 class='main-block__title page-title'>Мебель для кухни с островом</h1>
    <div class='main-block__text-right-container'>
        <p class='main-block__text'>824 000 ₽</p>
        <p class='main-block__subtitle gray-text'>стоимость проекта</p>
    </div>
</div>