<div class='project-main-block__container'>

    <div class='project-main-block__content'>
        <div class='project-main-block__text-left-container'>
            <p class='project-main-block__text'>21 <span>день</span></p>
            <p class='project-main-block__subtitle gray-text'>срок реализации</p>
        </div>
        <h1 class='project-main-block__title'>Мебель для кухни с островом</h1>
        <div class='project-main-block__text-right-container'>
            <p class='project-main-block__text'>824 000 ₽</p>
            <p class='project-main-block__subtitle gray-text'>стоимость проекта</p>
        </div>
    </div>

</div>