<div class='project-swiper__container'>
    <div class='project-swiper__title section-title'>Галерея проекта</div>

    <div class='slider'>
        <div class='slides'>
            <div class='slide active'>
                <img src='/images/project/1.jpg' alt='Пример проекта' />
            </div>
            <div class='slide'>
                <img src='/images/project/1.jpg' alt='Пример проекта' />
            </div>
            <div class='slide'>
                <img src='/images/project/1.jpg' alt='Пример проекта' />
            </div>
        </div>

        <button class='project-swiper-button'><img src='/icons/arrow_next.svg' alt='Иконка далее' /></button>
    </div>

</div>