.for-designers-page {
    .main-block {
        // .main-block__container

        background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 24.63%),
            linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgb(0, 0, 0) 100%),
            rgb(0, 0, 0)
                image-set(
                    url('images/for-designers-page/main-bg.jpg') 1x,
                    url('images/for-designers-page/main-bg@2x.jpg') 2x,
                    url('images/for-designers-page/main-bg@3x.jpg') 3x
                );
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        &__subtitle {
            font-weight: 700;
            opacity: 1;
            text-transform: uppercase;
            letter-spacing: 0.04em;
            line-height: 28px;
            margin-bottom: 52px;
            padding: 12px 24px;
            border-radius: 80px;
            border: 1px solid rgba(255, 255, 255, 0.2);
        }

        // .main-block__title

        &__title {
            max-width: 60%;
        }

        // .main-block__arrow

        &__arrow {
        }
    }
}
