<div class='main-block__content'>
    <div class='main-block__text-left-container'>
        <p class='main-block__text'></p>
        <p class='main-block__subtitle font-manrope'>работ в портфолио</p>
    </div>
    <h1 class='main-block__title page-title'>Портфолио</h1>
    <div class='main-block__text-right-container'>
        <p class='main-block__text'>400+</p>
        <p class='main-block__subtitle font-manrope'>всего проектов</p>
    </div>
</div>
<div class='portfolio-filter swiper filter swiper__filter'>
    <div class='filter-swiper-wrapper swiper-wrapper'>
        <button type='button' class='filter-swiper-slide swiper-slide filter__item active'>все</button>
        <button type='button' class='filter-swiper-slide swiper-slide filter__item'>шкафы</button>
        <button type='button' class='filter-swiper-slide swiper-slide filter__item'>гардеробные</button>
        <button type='button' class='filter-swiper-slide swiper-slide filter__item'>кухни</button>
        <button type='button' class='filter-swiper-slide swiper-slide filter__item'>гостиные</button>
        <button type='button' class='filter-swiper-slide swiper-slide filter__item'>ванные</button>
        <button type='button' class='filter-swiper-slide swiper-slide filter__item'>детские</button>
    </div>
</div>
{{! <div class='projects__container'>

            <div  class='projects__grid'>
                <div  class='projects__item'>
                    <div class='projects__image'>
                        <img src='images/projects/1.jpg' alt='Пример работы' />
                    </div>
                    <div class='projects__label'>
                        <div class='projects__text'>Мебель для прихожей</div>
                        <div class='projects__price gray-text'>517 000 ₽</div>
                    </div>
                </div>
                <div  class='projects__item'>
                    <div class='projects__image'>
                        <img src='images/projects/2.jpg' alt='Пример работы' />
                    </div>
                    <div class='projects__label'>
                        <div class='projects__text'>Мебель для кухни</div>
                        <div class='projects__price gray-text'>976 000 ₽</div>
                    </div>
                </div>
                <div  class='projects__item'>
                    <div class='projects__image'>
                        <img src='images/projects/3.jpg' alt='Пример работы' />
                    </div>
                    <div class='projects__label'>
                        <div class='projects__text'>Мебель для гостиной</div>
                        <div class='projects__price gray-text'>430 000 ₽</div>
                    </div>
                </div>
                <div  class='projects__item'>
                    <div class='projects__image'>
                        <img src='images/projects/4.jpg' alt='Пример работы' />
                    </div>
                    <div class='projects__label'>
                        <div class='projects__text'>Мебель для гардеробной</div>
                        <div class='projects__price gray-text'>698 400 ₽</div>
                    </div>
                </div>
            </div>
        </div>
        <a href='' class='projects__link label-link'>
            <span class='label-link__plus'>
                <img src='icons/plus-add.svg' alt='Иконка ссылки' /></span>
            <span class='label-link__text'>Загрузить еще</span>
        </a>
    </div> }}