.about-page {
    // .about-page-advantages__container
    .advantages {
        &__container {
        }

        // .about-page-advantages__row
        &__image {
            position: relative;

            @media (max-width: 768px) {
                margin-bottom: 20px;
                padding-bottom: calc(73px / 345px * 100%);
            }
            img {
                aspect-ratio: 345 / 402;
                object-fit: cover;
            }

            .litle {
                position: absolute;
                top: calc(80 / 669 * 100%);
                transform: translateX(-50%) scaleX(-1);
                width: calc(270px / 755px * 100%);

                border-radius: 40px;
                @media (max-width: 768px) {
                    width: calc(219px / 345px * 100%);
                    aspect-ratio: 219 / 168;
                    bottom: 0;
                    top: auto;
                    transform: translateY(0) translateX(-50%);
                    left: 50%;
                    object-fit: cover;
                }
            }
        }
        &__row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 120px; // Устанавливаем margin-bottom по умолчанию
            & + .about-page-statistics {
                margin-top: 0; /* Переопределяем margin-bottom для .about-page-advantages__row */
            }

            &--reverse {
                flex-direction: row-reverse;
                .advantages__image {
                    position: relative;

                    .litle {
                        @media (min-width: 768px) {
                            left: 0;
                        }
                    }
                }
            }

            @media (max-width: 768px) {
                flex-direction: column;
                // row-gap: 76px;
            }
        }

        // .about-page-advantages__item

        &__item {
            flex-basis: calc(755 / 1840 * 100%);

            img {
                width: 100%;
                border-radius: 20px;
            }
        }

        // .about-page-advantages__image

        // .about-page-advantages__title

        &__title {
            @include responsive-clamp(margin-bottom, 20px, 40px);
        }

        // .about-page-advantages__text

        &__text {
            @include responsive-clamp(font-size, 16px, 14px);
            @include responsive-clamp(line-height, 24px, 32px);
            opacity: 0.8;
        }
        // &__box {
        //     @media (max-width: 768px) {
        //         min-height: calc(73px / 402px * 100%);
        //         width: 100%;
        //     }
        // }}
    }
}
.section-title {
}

.about-page-statistics {
    @include responsive-clamp(margin-bottom, 60px, 148px);
    @include responsive-clamp(margin-top, 40px, 120px);
}
