.about-page-statistics {
    // .about-page-statistics__container

    &__container {
    }

    // .about-page-statistics__item

    &__item {
        flex-basis: calc(445px / 1840px * 100% - 10px);
        @media (max-width: 768px) {
            flex-basis: calc(50% - 10px);
            text-align: center;
        }
    }

    // .about-page-statistics__text

    &__text {
        span {
            font-size: 13px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;

        gap: 10px;
        @media (max-width: 768px) {
            flex-wrap: wrap;
        }
    }
}
