<div class='about-us__row'>
    <div class='about-us__item'>
        <p class='about-us__text'>
            Мы команда профессионалов в области дизайна и производства уникальной мебели
        </p>
    </div>
    <div class='about-us__item'>
        <div class='about-us__years years-about-us'>
            <div class='years-about-us__number'>20</div>
            <div class='years-about-us__title-container'>
                <h3 class='years-about-us__title'>Лет опыта</h3>
            </div>
            <div class='years-about-us__text-content'>
                <p class='years-about-us__text gray-text'>Спроектируем и изготовим мебель любого назначения и сложности
                    точно в срок. Работаем на итальянском оборудовании с использованием премиум материалов и фурнитуры.</p>
            </div>
        </div>
    </div>
</div>