<div class='advantages__row'>
    <div class='advantages__item advantages__item--title'>
        <h2 class='advantages__title'>Наши преимущества</h2>
    </div>
    <div class='advantages__item advantages__item--list'>
        <ul class='advantages__list list-advantages'>
            <li class='list-advantages__item'><span style=" background-image:url('icons/shield.svg'); background-repeat:no-repeat; background-position: center"></span>собственное производство</li>
            <li class='list-advantages__item'><span></span>Гарантия 6 лет</li>
            <li class='list-advantages__item'><span></span>Бесплатный замер</li>
            <li class='list-advantages__item'><span></span>Выезд в течение 24 часов</li>
            <li class='list-advantages__item'><span></span>Профессиональная бесплатная консультация</li>
        </ul>
    </div>
    <div class='advantages__item advantages__item--link'>
        <a href='3d-project.html' class='our-team__link label-link'>
            <span class='label-link__plus'>
                <img src='icons/plus-add.svg' alt='Иконка добавления заказа' />
            </span>
            <span class='label-link__text'>Оставить заявку</span>
        </a>
    </div>
</div>