<div class='contacts__row'>
    <article class='contacts__column'>
        <div class='contacts__district'>Москва-Юг</div>
        <div class='contacts__phone'>
            <a href='tel:+79268287755'>+7 926 828 77 55</a></div>
        <div class='contacts__map font-manrope'>
            <address class='contacts__address'>Химки, ул. Бутаково 4, МТК Гранд</address>
            <a href=''>Смотреть на карте</a>
        </div>
        <div class='contacts__wa'>
            <a href='https://wa.me/your_channel' target='_blank' rel='noopener noreferrer' aria-label='WatsApp'>
                <img src='/icons/wa.svg' alt='Иконка ватсапа' />
            </a>
        </div>
    </article>
    <article class='contacts__column'>
        <div class='contacts__district'>Москва-Север</div>
        <div class='contacts__phone'>
            <a href='tel:+79268287755'>+7 916 129 80 88</a></div>
        <div class='contacts__map font-manrope'>
            <address class='contacts__address'>Химки, ул. Бутаково 4, МТК Гранд</address>
            <a href=''>Смотреть на карте</a>
        </div>
        <div class='contacts__wa'>
            <a href='https://wa.me/your_channel' target='_blank' rel='noopener noreferrer' aria-label='WatsApp'>
                <img src='/icons/wa.svg' alt='Иконка ватсапа' />
            </a>
        </div>
    </article>
</div>