<div class='footer__container'>
    <div class='footer__body body-footer'>
        <div class='body-footer__row'>
            <div class='body-footer__item item-footer'>
                <h3 class='item-footer__title'><a href='' class='item-footer__title'>Портфолио</a></h3>
                <nav class='menu-footer'>
                    <ul class='menu-footer__list'>
                        <li class='menu-footer__item'>
                            <a href='' class='menu-footer__link font-manrope'>Шкафа</a>
                        </li>
                        <li class='menu-footer__item'>
                            <a href='' class='menu-footer__link font-manrope'>Гардеробные</a>
                        </li>
                        <li class='menu-footer__item'>
                            <a href='' class='menu-footer__link font-manrope'>Кухни</a>
                        </li>
                        <li class='menu-footer__item'>
                            <a href='' class='menu-footer__link font-manrope'>Гостиные</a>
                        </li>
                        <li class='menu-footer__item'>
                            <a href='' class='menu-footer__link font-manrope'>Мебель для ванной</a>
                        </li>
                        <li class='menu-footer__item'>
                            <a href='' class='menu-footer__link font-manrope'>Детские</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class='body-footer__item item-footer'>
                <h3 class='item-footer__title'><a href='' class='item-footer__title'>Заказчикам</a></h3>
                <nav class='menu-footer'>
                    <ul class='menu-footer__list'>
                        <li class='menu-footer__item'>
                            <a href='' class='menu-footer__link font-manrope'>галереии</a>
                        </li>
                        <li class='menu-footer__item'>
                            <a href='' class='menu-footer__link font-manrope'>акции</a>
                        </li>
                        <li class='menu-footer__item'>
                            <a href='' class='menu-footer__link font-manrope'>материалы и декор</a>
                        </li>
                        <li class='menu-footer__item'>
                            <a href='' class='menu-footer__link font-manrope'>наш сервис</a>
                        </li>
                        <li class='menu-footer__item'>
                            <a href='' class='menu-footer__link font-manrope'>гарантия</a>
                        </li>
                        <li class='menu-footer__item'>
                            <a href='' class='menu-footer__link font-manrope'>декор</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class='body-footer__item item-footer'>
                <h3 class='item-footer__title'><a href='' class='item-footer__title'>Компания</a></h3>
                <nav class='menu-footer'>
                    <ul class='menu-footer__list'>
                        <li class='menu-footer__item'>
                            <a href='' class='menu-footer__link font-manrope'>О компании</a>
                        </li>
                        <li class='menu-footer__item'>
                            <a href='' class='menu-footer__link font-manrope'>Отзывы</a>
                        </li>
                        <li class='menu-footer__item'>
                            <a href='' class='menu-footer__link font-manrope'>Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class='body-footer__item item-footer item-footer_socials'>
                <h3 class='item-footer__title'><a href='' class='item-footer__title'>Сотрудничество</a></h3>
                <nav class='menu-footer menu-footer_socials'>
                    <ul class='menu-footer__list menu-footer__list_socials'>
                        <li class='menu-footer__item menu-footer__item_socials'>
                            <a
                                class='menu-footer__link font-manrope'
                                href='mailto:infofabric.st@gmail.com'
                            >infofabric.st@gmail.com</a>
                            <div class='socials'>
                                <div class='socials__icon'>
                                    <a
                                        href='https://t.me/your_channel'
                                        target='_blank'
                                        rel='noopener noreferrer'
                                        aria-label='Телеграм канал'
                                    >
                                        <img src='/icons/tg.svg' alt='Иконка телеграма' /></a>
                                </div>
                                <div class='socials__icon'>
                                    <a
                                        href='https://vk/your_channel'
                                        target='_blank'
                                        rel='noopener noreferrer'
                                        aria-label='Канал во вконтакте'
                                    >
                                        <img src='/icons/vk.svg' alt='Иконка вк' /></a>
                                </div>
                                <div class='socials__icon'>
                                    <a
                                        href='https://www.instagram.com/yourusername'
                                        target='_blank'
                                        rel='noopener noreferrer'
                                        aria-label='Страница инстаграмм'
                                    >
                                        <img src='/icons/inst.svg' alt='Иконка инстаграмм' /></a>
                                </div>
                                <div class='socials__icon'>
                                    <a
                                        href='https://wa.me/1234567890'
                                        target='_blank'
                                        rel='noopener noreferrer'
                                        aria-label='Ватсап канал канал'
                                    >
                                        <img src='/icons/wa.svg' alt='Икона WatsApp' /></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class='footer__bottom bottom-footer'>
        <p class='bottom-footer__copyright font-manrope'><small>© FaБRИК — 2024</small></p>
        <div class='bottom-footer__logo'>
            <a href='/' aria-label='На главную'>
                <img src='/icons/logo.svg' alt='Логотип' />
            </a>
        </div>
        <div class='bottom-footer__politics font-manrope'>
            <a href='/privacy-policy' aria-label='Политика конфиденциальности'>Политика конфиденциальности</a>
        </div>
    </div>
</div>