<div class='for-designers__row'>

    <div class='for-designers__item for-designers__item--text-content'>
        <h2 class='for-designers__title'>Предложение для дизайнеров и архитекторов</h2>
        <p class='for-designers__text font-manrope'>Изготовим уникальную мебель для ваших проектов под заказ на
            собственном итальянском оборудовании. Наши производственные возможности позволяют реализовать самые сложные
            идеи, а богатый опыт за спиной гарантирует качество и точные сроки. Умеем всё и даже больше!</p>
    </div>
    <div class='for-designers__item for-designers__item--image'>
        <div class='swiper swiper__for-designers'>
            <!-- Обертка для слайдов -->
            <div class='swiper-wrapper swiper-wrapper-for-designers'>
                <!-- Слайды -->
                <div class='swiper-slide swiper-slide__for-designers for-designers-swiper-slide'>
                    <div class='for-designers-swiper-slide__img-container'>
                        <div class='for-designers-swiper-slide__preview-pictures'>
                            <img
                                class='for-designers-swiper-slide__img-1'
                                src='/images/for-designers/1.jpg'
                                alt='Превью 1'
                                class='preview-picture'
                            />
                            <img
                                class='for-designers-swiper-slide__img-2'
                                src='/images/for-designers/2.jpg'
                                alt='Превью 2'
                                class='preview-picture'
                            />
                            <img
                                class='for-designers-swiper-slide__img-3'
                                src='/images/for-designers/3.jpg'
                                alt='Превью 3'
                                class='preview-picture'
                            />
                        </div>
                        <div class='for-designers-swiper-slide__main-picture'>
                            <img src='/images/for-designers/main.jpg' alt='Предложение' />
                        </div>

                    </div>
                </div>
                <div class='swiper-slide swiper-slide__for-designers for-designers-swiper-slide'>
                    <div class='for-designers-swiper-slide__img-container'>

                        <div class='for-designers-swiper-slide__main-picture'>
                            <img src='/images/for-designers/main.jpg' alt='Предложение' />
                        </div>

                    </div>
                </div>
                <div class='swiper-slide swiper-slide__for-designers for-designers-swiper-slide'>
                    <div class='for-disigners-swiper-slide__img-container'>

                        <div class='for-designers-swiper-slide__main-picture'>
                            <img src='/images/for-designers/main.jpg' alt='Предложение' />
                        </div>
                        <div class='for-designers-swiper-slide__preview-pictures'>
                            <img src='/images/for-designers/1.jpg' alt='Превью 1' class='preview-picture' />
                            <img src='/images/for-designers/2.jpg' alt='Превью 2' class='preview-picture' />
                            <img src='/images/for-designers/3.jpg' alt='Превью 3' class='preview-picture' />
                        </div>

                    </div>
                </div>
                <div class='swiper-slide swiper-slide__for-designers for-designers-swiper-slide'>
                    <div class='for-designers-swiper-slide__img-container'>

                        <div class='for-designers-swiper-slide__main-picture'>
                            <img src='/images/for-designers/main.jpg' alt='Предложение' />
                        </div>
                        <div class='for-designers-swiper-slide__preview-pictures'>
                            <img src='/images/for-designers/1.jpg' alt='Превью 1' class='preview-picture' />
                            <img src='/images/for-designers/2.jpg' alt='Превью 2' class='preview-picture' />
                            <img src='/images/for-designers/3.jpg' alt='Превью 3' class='preview-picture' />
                        </div>
                    </div>
                </div>

                <!-- Добавьте больше слайдов по необходимости -->
            </div>

            <!-- Навигационные стрелки (опционально) -->
            <div class='swiper-control'>

                <button class='swiper-button-prev-for-designers'>

                    <span class='swiper-button-prev__arrow'>
                        <img src='/icons/arrow_left.svg' alt='Следующий слайд' />
                    </span>

                </button>
                <div class='swiper-pagination-fabrik fraction-for-designers'>
                    <span class='fraction-for-designers__current'>0 </span>
                    &#8212;
                    <span class='fraction-for-designers__all'>0</span>
                </div>
                <button class='swiper-button-next-for-designers'>

                    <span class='swiper-button-next__arrow'>
                        <img src='/icons/arrow_right.svg' alt='Предыдущий слайд' />
                    </span>

                </button>
                <!-- Навигационные точки (опционально) -->

            </div>
        </div>
    </div>
    <div class='for-designers__item for-designers__item--link'>
        <a href='' class='for-designers__link label-link'>
            <span class='label-link__plus'>
                <img src='/icons/plus-add.svg' alt='Иконка ссылки' />
            </span>
            <span class='label-link__text'>Подробнее</span>
        </a>
    </div>
</div>