<h2 class='form__title section-title'>Узнайте стоимость и сроки изготовления вашей мебели</h2>

<form class='choose-form'>

    <div class='form__title-container'>
        <h3 class='choose-form__title font-manrope'>Какую мебель необходимо изготовить?</h3>
        <div class='choose-form__page font-manrope'>01/05</div>
    </div>
    <div class='choose-form__grid'>
        <div class='choose-form__item font-manrope'>
            <input type='radio' id='furniture-closet' name='furniture-type' />
            <label for='furniture-closet'>Шкаф</label>
        </div>
        <div class='choose-form__item font-manrope'>
            <input type='radio' id='furniture-kitchen' name='furniture-type' />
            <label for='furniture-kitchen'>Кухня</label>
        </div>
        <div class='choose-form__item font-manrope'>
            <input type='radio' id='furniture-wardrobe' name='furniture-type' />
            <label for='furniture-wardrobe'>Гардеробная</label>
        </div>
        <div class='choose-form__item font-manrope'>
            <input type='radio' id='furniture-living-room' name='furniture-type' />
            <label for='furniture-living-room'>Мебель для гостиной</label>
        </div>
        <div class='choose-form__item font-manrope'>
            <input type='radio' id='furniture-kids-room' name='furniture-type' />
            <label for='furniture-kids-room'>Мебель для детской</label>
        </div>
        <div class='choose-form__item font-manrope'>
            <input type='radio' id='furniture-bathroom' name='furniture-type' />
            <label for='furniture-bathroom'>Мебель для ванной</label>
        </div>
        <div class='choose-form__item font-manrope'>
            <input type='radio' id='furniture-office' name='furniture-type' />
            <label for='furniture-office'>Кабинет</label>
        </div>
        <div class='choose-form__item font-manrope'>
            <input type='radio' id='furniture-other' name='furniture-type' />
            <label for='furniture-other'>Другое</label>
        </div>
    </div>
    <div class='form__bottom'>
        <button type='button' class='form-prev'>Назад</button>
        <div class='form__progress'></div>
        <button type='button' class='form-next'>Далее</button>
    </div>
</form>