<h2 class='gallery__title'>Галерея</h2>
<div class='swiper swiper__gallery'>
    <!-- Обертка для слайдов -->
    <div class='swiper-wrapper swiper-wrapper-gallery'>
        <!-- Слайды -->
        <div class='swiper-slide gallery-swiper-slide'>
            <img src='images/gallery/1.jpg' alt='Галлерея' />
        </div>
        <div class='swiper-slide gallery-swiper-slide'>
            <img src='images/gallery/2.jpg' alt='Галлерея' />
        </div>
        <div class='swiper-slide gallery-swiper-slide'>
            <img src='images/gallery/3.jpg' alt='Галлерея' />
        </div>
        <div class='swiper-slide gallery-swiper-slide'>
            <img src='images/gallery/4.jpg' alt='Галлерея' />
        </div>
        <div class='swiper-slide gallery-swiper-slide'>
            <img src='images/gallery/1.jpg' alt='Галлерея' />
        </div>

        <!-- Добавьте больше слайдов по необходимости -->
    </div>

    <!-- Навигационные стрелки (опционально) -->

</div>
<div class='gallery__bottom'>
    <a href='' class='label-link labe-link-gallery'>
        <span class='label-link__plus'>
            <img src='icons/plus-add.svg' alt='Иконка ссылки' />
        </span>
        <span class='label-link__text'>{{title}}</span>
    </a>
    <div class='swiper-control swiper-control-gallery'>
        <button class='swiper-button-prev-gallery'>
            <span class='swiper-button-prev__arrow'>
                <img src='icons/arrow_left.svg' alt='Следующий слайд' />
            </span>
        </button>
        <div class='swiper-pagination-fabrik fraction-gallery'>
            <span class='fraction-gallery__current'>0 </span>
            &#8212;
            <span class='fraction-gallery__all'>0</span>
        </div>
        <button class='swiper-button-next-gallery'>
            <span class='swiper-button-next__arrow'>
                <img src='icons/arrow_right.svg' alt='Предыдущий слайд' />
            </span>
        </button>
        <!-- Навигационные точки (опционально) -->
    </div>
</div>