<div class='header-main-block__container'>
    <nav class='header__menu menu-header'>
        <ul class='menu-header__list menu-header__list--left'>
            <li class='menu-header__item'><a href='/portfolio.html'>Портфолио</a></li>
            <li class='menu-header__item'><a href='/for-designers.html'>Дизайнер</a></li>
        </ul>
        <div class='menu-header__logo'>
            <a href='index.html'>
                <img src='/icons/logo.svg' alt='Логотип' /></a>
        </div>
        <ul class='menu-header__list menu-header__list--right'>
            <li class='menu-header__item'><a href='contacts.html'>Контакты</a></li>
            <li class='menu-header__item'><a href='3d-project.html'>Заказать</a></li>
        </ul>
    </nav>

    <nav hidden class='menu-mobile'>
        <button type='button' class='menu-icon icon-menu'></button>
        <div class='menu-mobile__logo'>
            <img src='/icons/logo.svg' alt='Логотип' />
        </div>
        <div class='menu-mobile__body'>

            <ul class='menu-mobile__list'>
                <li class='menu-mobile__item menu-mobile__item_active'><a href='/portfolio.html'>Портфолио</a></li>
                <li class='menu-mobile__item'><a href='/for-designers.html'>Дизайнер</a></li>

                <li class='menu-mobile__item'><a href='contacts.html'>Контакты</a></li>
                <li class='menu-mobile__item'><a href='3d-project.html'>Заказать</a></li>
            </ul>
        </div>
    </nav>
    <button type='button' class='menu-icon icon-menu'></button>
</div>