<div class='main-block__container'>
    <h1 class='main-block__title page-title'>Сделано для уюта вашей души</h1>

    <a href='#about-us' class='main-block__arrow scroll-link' data-target='#about-us' aria-label='Прокрутка вниз'>
        <img src='icons/main-block__arrow.svg' alt='Иконка стрелки для прокрутки вниз' />
    </a>
</div>