<div class='material-categories__row'>
    <div class='material-categories__item'>

        <article class='material-categories__image'>
            <img
                src='images/material-categories/1.jpg'
                srcset='images/material-categories/1@2x.jpg 2x, images/material-categories/1@3x.jpg 3x'
                alt='Фасады'
            />
        </article>
        <h3 class='material-categories__title'>Фасады</h3>
        <p class='material-categories__text font-manrope'>Более 10 видов покрытий, исполнение по вашему эскизу.
            Фрезеровка, покраска, шпон экзотических пород дерева, итальянская природная TSS-плита, испанский UF-пластик,
            стекло, металл и другие варианты</p>
    </div>
    <article class='material-categories__item'>
        <div class='material-categories__image'>
            <img
                src='images/material-categories/2.jpg'
                srcset='images/material-categories/2@2x.jpg 2x, images/material-categories/2@3x.jpg 3x'
                alt='Корпус'
            />
        </div>
        <h3 class='material-categories__title'>Корпус</h3>
        <p class='material-categories__text font-manrope'>Более 10 видов материалов: МДФ, ЛДСП, фанера, шпон, металл,
            камень, акрил и другие. Индивидуальное изготовление элементов мебели в художественной мастерской</p>
    </article>
    <article class='material-categories__item'>
        <div class='material-categories__image'>
            <img
                src='images/material-categories/3.jpg'
                srcset='images/material-categories/3@2x.jpg 2x,g images/material-categories/3@3x.jpg 3x'
                alt='Фурнитура'
            />
        </div>
        <h3 class='material-categories__title'>Фурнитура</h3>
        <div class='material-categories__text font-manrope'>Blum, Kessebohmer, Hettich, Volpato, Brass, Amig, GTv,
            Hafele, Makmart, Возможен спецзаказ</div>
    </article>
</div>