<div data-swiper='true' class='swiper swiper__team-photo'>
    <div data-swiper-wrapper='true' class='swiper-wrapper our-team__images'>

        <div data-swiper-slide='true' class='our-team__image-wrapper swiper-slide'>
            <img
                class='our-team__image'
                src='/src/assets/images/team/1.jpg'
                srcset='/src/assets/images/team/1@2x.jpg 2x'
                srcset='/src/assets/images/team/1@3x.jpg 3x'
                alt='Фото сотрудника'
            />
        </div>
        <div data-swiper-slide='true' class='our-team__image-wrapper swiper-slide'>
            <img
                class='our-team__image'
                src='/src/assets/images/team/2@2x.jpg'
                srcset='/src/assets/images/team/2@2x.jpg 2x'
                srcset='/src/assets/images/team/2@3x.jpg 3x'
                alt='Фото сотрудника'
            />
        </div>
        <div data-swiper-slide='true' class='our-team__image-wrapper swiper-slide'>
            <img
                class='our-team__image'
                src='/src/assets/images/team/3@2x.jpg'
                srcset='/src/assets/images/team/3@2x.jpg 2x'
                srcset='/src/assets/images/team/3@3x.jpg 3x'
                alt='Фото сотрудника'
            />
        </div>
        <div data-swiper-slide='true' class='our-team__image-wrapper swiper-slide'>
            <img
                class='our-team__image'
                src='/src/assets/images/team/4.jpg'
                srcset='/src/assets/images/team/4@2x.jpg 2x'
                srcset='/src/assets/images/team/4@3x.jpg 3x'
                alt='Фото сотрудника'
            />
        </div>
        <div data-swiper-slide='true' class='our-team__image-wrapper swiper-slide'>
            <img
                class='our-team__image'
                src='/src/assets/images/team/5.jpg'
                srcset='/src/assets/images/team/5@2x.jpg 2x'
                srcset='/src/assets/images/team/5@3x.jpg 3x'
                alt='Фото сотрудника'
            />
        </div>
        <div data-swiper-slide='true' class='our-team__image-wrapper swiper-slide'>
            <img
                class='our-team__image'
                src='/src/assets/images/team/6.jpg'
                srcset='/src/assets/images/team/6@2x.jpg 2x'
                srcset='/src/assets/images/team/6@3x.jpg 3x'
                alt='Фото сотрудника'
            />
        </div>

    </div>
    <a href='about.html' class='our-team__link label-link'>
        <span class='label-link__plus'>
            <img src='/icons/plus-add.svg' alt='Иконка ссылки' /></span>
        <span class='label-link__text'>О компании</span>
    </a>
</div>