<h2 class='projects__title page-title'>Реализованные проекты</h2>
<div data-swiper='true' class='swiper__projects' role='region' aria-label='Реализованные проекты'>
    <div data-swiper-wrapper='true' class='projects__grid'>
        <a
            role='link'
            aria-label='Подробнее о мебели для прихожей стоимостью 517 000 рублей'
            href='project.html'
            data-swiper-slide='true'
            class='projects__item'
        >
            <div class='projects__image'>
                <img
                    src='/src/assets/images/projects/1.jpg'
                    srcset='/src/assets/images/projects/1@2x.jpg 2x, /src/assets/images/projects/1@3x.jpg 3x'
                    alt='Пример прихожей'
                />
            </div>
            <div class='projects__label'>
                <h4 class='projects__text'>Мебель для прихожей</h4>
                <p class='projects__price font-manrope'>517 000 ₽</p>
            </div>
        </a>
        <a
            role='link'
            aria-label='Подробнее о мебели для кухни стоимостью 976 000 рублей'
            href='project.html'
            data-swiper-slide='true'
            class='projects__item'
        >
            <div class='projects__image'>
                <img
                    src='/src/assets/images/projects/2.jpg'
                    srcset='/src/assets/images/projects/2@2x.jpg 2x, /src/assets/images/projects/2@3x.jpg 3x'
                    alt='Пример кухни'
                />
            </div>
            <div class='projects__label'>
                <h4 class='projects__text'>Мебель для кухни</h4>
                <p class='projects__price font-manrope'>976 000 ₽</p>
            </div>
        </a>
        <a
            role='link'
            aria-label='Подробнее о мебели для гостиной стоимостью 430 000 рублей'
            href='project.html'
            data-swiper-slide='true'
            class='projects__item'
        >
            <div class='projects__image'>
                <img
                    src='/src/assets/images/projects/3.jpg'
                    srcset='/src/assets/images/projects/3@2x.jpg 2x, /src/assets/images/projects/3@3x.jpg 3x'
                    alt='Пример гостиной'
                />
            </div>
            <div class='projects__label'>
                <h4 class='projects__text'>Мебель для гостиной</h4>
                <p class='projects__price font-manrope'>430 000 ₽</p>
            </div>
        </a>
        <a
            role='link'
            aria-label='Подробнее о мебели для гардеробной стоимостью 698 400 рублей'
            href='project.html'
            data-swiper-slide='true'
            class='projects__item'
        >
            <div class='projects__image'>
                <img
                    src='/src/assets/images/projects/4.jpg'
                    srcset='/src/assets/images/projects/4@2x.jpg 2x, /src/assets/images/projects/4@3x.jpg 3x'
                    alt='Пример гардеробной'
                />
            </div>
            <div class='projects__label'>
                <h4 class='projects__text'>Мебель для гардеробной</h4>
                <p class='projects__price font-manrope'>698 400 ₽</p>
            </div>
        </a>
    </div>
</div>
<a role='link' aria-label='Смотреть все проекты' href='portfolio.html' class='projects__link label-link'>
    <span class='label-link__plus'>
        <img src='/icons/plus-add.svg' alt='Иконка ссылки' /></span>
    <span class='label-link__text'>Смотреть все</span>
</a>