<div class='statistics__row'>
    <div class='statistics__item'>
        <h5 class='statistics__title'>3 000+</h5>
        <p class='statistics__text font-manrope'>Работ в портфолио</p>
    </div>
    <div class='statistics__item'>
        <h5 class='statistics__title'>7-35 лет</h5>
        <p class='statistics__text font-manrope'>Опыт сотрудников</p></div>
    <div class='statistics__item'>
        <h5 class='statistics__title'>6 лет</h5>
        <p class='statistics__text font-manrope'>гарантия</p></div>
    <div class='statistics__item'>
        <h5 class='statistics__title'>40+</h5>
        <p class='statistics__text font-manrope'>сотрудников в компании</p></div>
</div>