.project-swiper__title {
    @include responsive-clamp(margin-bottom, 20px, 80px);
}
/* Основной контейнер слайдера */
.slider {
    width: 100%;
    height: 620px; /* Фиксированная высота слайдера */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Убираем полосы прокрутки */
}

/* Обертка слайдов */
.slides {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Убираем полосы прокрутки */
    transition: transform 0.5s ease; /* Плавное изменение трансформации */
    position: relative;
}

/* Стили для слайдов */
.slide {
    flex: 0 0 calc(25% - 10px); /* Начальная ширина слайда с учётом отступа */
    transition: transform 0.5s ease, flex 0.5s ease; /* Плавное изменение */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-right: 10px; /* Расстояние между слайдами */
    height: 100%; /* Высота слайда */
}

/* Удаление правого отступа для последнего слайда */
.slide:last-child {
    margin-right: 0;
}

/* Стили для активного слайда */
.slide.active {
    flex: 0 0 calc(50% - 10px); /* Увеличиваем активный слайд */
}

/* Стили для изображений внутри слайдов */
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* Стили для кнопок навигации */
.project-swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    border: none;
    padding: 18px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Ширина кнопок */
    height: 50px; /* Высота кнопок */
		right: 40px;
}

/* Стили для кнопок "назад" и "вперед" */


/* Медиа-запрос для экранов шириной 768px и меньше */
@media (max-width: 768px) {
    .slides {
        display: flex;
        width: 100%;
        height: 100%;
        overflow: visible; /* Позволяет видеть часть следующего слайда */
    }

    .slide {
        flex: 0 0 80%; /* Основной слайд занимает 80% ширины контейнера */
        margin-right: 10%; /* Оставляем место для видимого следующего слайда */
    }

    .slide.active {
        flex: 0 0 80%; /* Активный слайд тоже занимает 80% */
    }
}
