<header class='feedback__header'>
    <div class='feedback__block'>
        <div class='user'>
            <div class='user__avatar'>
                <img src='images/avatar.jpg' alt='Фото пользователя' />
            </div>
            <div class='user__name'>Иванова Катя</div>
        </div>
        <p class='feedback-item__text'>Единственная компания в Москве, которая смогла сделать шкаф с фасадами высотой 3
            метра и без швов. Задача была сложная и сильно ограничена сроками. Результатом довольны...</p>
        <a href='' class='feedback-item__all font-manrope'>Смотреть оригинал</a>
    </div>
    <h2 class='feedback__title section-title'>Отзывы</h2>
</header>
<div class='feedback__row'>

    <div class='feedback-item'>
        <div class='user'>
            <div class='user__avatar'>
                <img src='images/avatar.jpg' alt='Фото пользователя' />
            </div>
            <div class='user__name'>Иванова Катя</div>
        </div>
        <p class='feedback-item__text'>Единственная компания в Москве, которая смогла сделать шкаф с фасадами высотой 3
            метра и без швов. Задача была сложная и сильно ограничена сроками. Результатом довольны...</p>
        <a href='' class='feedback-item__all font-manrope'>Смотреть оригинал</a>
    </div>
    <div class='feedback-item'>
        <div class='user'>
            <div class='user__avatar'>
                <img src='images/avatar.jpg' alt='Фото пользователя' />
            </div>
            <div class='user__name'>Иванова Катя</div>
        </div>
        <p class='feedback-item__text'>Единственная компания в Москве, которая смогла сделать шкаф с фасадами высотой 3
            метра и без швов. Задача была сложная и сильно ограничена сроками. Результатом довольны...</p>
        <a href='' class='feedback-item__all font-manrope'>Смотреть оригинал</a>
    </div>
</div>