<div class='feedback-block__row'>
    <div class='feedback-block__item feedback-block__item--swiper'>
        <div class='swiper swiper__feedback'>
            <!-- Обертка для слайдов -->
            <div class='swiper-wrapper swiper-wrapper-feedback'>
                <!-- Слайды -->
                <div class='swiper-slide feedback-swiper-slide'>
                    <div class='feedback-swiper-slider__user user'>
                        <div class='user__avatar'>
                            <img src='/images/avatar.jpg' alt='Фото пользователя' />
                        </div>
                        <div class='user__name'>Иванова Катя</div>
                    </div>
                    <p class='feedback-swiper-slide__text'>Единственная компания в Москве, которая смогла сделать шкаф с
                        фасадами высотой 3 метра и без швов. Задача была сложная и сильно ограничена сроками.
                        Результатом довольны...</p>
                </div>
                <div class='swiper-slide feedback-swiper-slide'>
                    <div class='feedback-swiper-slider__user user'>
                        <div class='user__avatar'>
                            <img src='/images/avatar.jpg' alt='Фото пользователя' />
                        </div>
                        <div class='user__name'>Иванова Катя</div>
                    </div>
                    <p class='feedback-swiper-slide__text'>Единственная компания в Москве, которая смогла сделать шкаф с
                        фасадами высотой 3 метра и без швов. Задача была сложная и сильно ограничена сроками.
                        Результатом довольны...</p>
                </div><div class='swiper-slide feedback-swiper-slide'>
                    <div class='feedback-swiper-slider__user user'>
                        <div class='user__avatar'>
                            <img src='/images/avatar.jpg' alt='Фото пользователя' />
                        </div>
                        <div class='user__name'>Иванова Катя</div>
                    </div>
                    <p class='feedback-swiper-slide__text'>Единственная компания в Москве, которая смогла сделать шкаф с
                        фасадами высотой 3 метра и без швов. Задача была сложная и сильно ограничена сроками.
                        Результатом довольны...</p>
                </div>

                <!-- Добавьте больше слайдов по необходимости -->
            </div>

            <!-- Навигационные стрелки (опционально) -->

        </div>
        <div class='feedback__bottom'>
            <a href='' class='feedback__all font-manrope'>Смотреть оригинал</a>
            <a href='' class='feedback__all font-manrope mobile'>Все отзывы</a>
            <div class='swiper-control feedback-swiper-control'><button class='swiper-button-prev-feedback'>
                    <span class='swiper-button-prev__arrow'>
                        <img src='/icons/arrow_left.svg' alt='Следующий слайд' />
                    </span>
                </button>
                <div class='swiper-pagination-fabrik fraction-feedback'>
                    <span class='fraction-feedback__current'>0 </span>
                    &#8212;
                    <span class='fraction-feedback__all'>0</span>
                </div>
                <button class='swiper-button-next-feedback'>
                    <span class='swiper-button-next__arrow'>
                        <img src='/icons/arrow_right.svg' alt='Предыдущий слайд' />
                    </span>
                </button>
                <!-- Навигационные точки (опционально) -->
            </div>
        </div>
    </div>
    <div class='feedback-block__item feedback-block__item--text'>
        <h2 class='feedback-block__title section-title'>Отзывы</h2>
        <a href='' class='feedback__all font-manrope pk'>Все отзывы</a>
    </div>
</div>