<div class='main-block__container'>
    <h1 class='main-block__title page-title'>Отзывы и гарантии</h1>

    <div class='main-block__arrow'>
        <img src='icons/main-block__arrow.svg' alt='Прокрутка вниз' />
    </div>
</div>