<div class='service-advantages__container'>
    <div class='service-advantages__row'>
        <div class='service-advantages__item service-advantages__item--images'>
            <h2 class='service-advantages__title section-title'>При заказе мебели у нас, вы
                получаете</h2>

            <div class='service-advantages__image'>
                <img
                    class='big'
                    src='/src/assets/images/service/1.jpg'
                    alt='Фото в процессе работы'
                />
                <img
                    class='little'
                    src='/src/assets/images/service/1-little.jpg'
                    alt='Фото в процессе работы'
                />

            </div>
        </div>
        <div class='service-advantages__item service-advantages__item--list'>

            <ul class='service-advantages__list list-service-advantages'>
                <li class='list-service-advantages__item'><span>01</span>
                    <h4>Профессиональную консультацию</h4>
                    <p class='gray-text-20'>Грамотный дизайнер мебели точно выявит потребности,
                        предложит варианты материалов, фурнитуры и конструктива исключительно под
                        вас. Вы не останетесь равнодушным, увидев наш ассортимент.</p></li>
                <li class='list-service-advantages__item'><span>02</span>
                    <h4>Коммерческое предложение</h4>
                    <p class='gray-text-20'>Составим дизайн-проект и сделаем предварительный расчет
                        с учетом комплектации в разных ценовых категориях. Вам будет из чего выбрать</p>
                </li>
                <li class='list-service-advantages__item'><span>03</span>
                    <h4>Выезжаем на объект</h4>
                    <p class='gray-text-20'>На выезде сделаем профессиональный замер. Если есть
                        сомнения по материалам - привезем образцы для сверки, при необходимости
                        сделаем выкрасы. Следующим этапом корректируем чертежи, расчеты и
                        подписываем договор. Данные передаются опытному конструктору, который
                        проверяет все параметры проекта и отправляет техническое задание на
                        производство</p>
                </li>
                <li class='list-service-advantages__item'><span>04</span>
                    <h4>Изготавливаем мебель</h4>
                    <p class='gray-text-20'>Мы сами очень тщательно контролируем все этапы
                        производства мебели и сроки, а вы в это время можете заняться другими делами
                        или просто отдохнуть. Когда все будет готово, заблаговременно свяжемся с
                        вами для согласования даты доставки и сборки.
                    </p>
                </li>
                <li class='list-service-advantages__item'><span>05</span>
                    <h4>Доставляем и устанавливаем</h4>
                    <p class='gray-text-20'>Мы не пользуемся услугами сторонних организаций.
                        Доставка и монтаж мебели осуществляется профессионалами от FАБRИК. Нам
                        важно, чтобы вы остались довольны результатом нашей работы.</p>
                </li>

            </ul>
        </div>

    </div>
</div>